{% extends '@forum/layout.html.twig' %}

{% block content %}

    {% include '@forum/admin/menu.html.twig' %}

    {{ fireHook('view.admin.users.admin_users.start') }}

    <div class="card">
        <div class="card-header"><strong>{{ trans('User search head') }}</strong></div>
        <div class="card-body">
            <form id="find_user" method="get" action="{{ pathFor('adminUsers') }}">
                <small class="help-block form-text">{{ trans('User search info') }}</small><br/>
                <input type="submit" name="find_user" class="btn btn-primary" value="{{ trans('Submit search') }}" tabindex="1" />
        
                <p class="help-block form-text pull-right">{{ trans('User search subhead') }}</p><br><br>

                    <div class="infldset">

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Username label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" class="form-control" name="form[username]" size="25" maxlength="25" tabindex="2" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('E-mail address label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="form[email]" class="form-control" size="30" maxlength="80" tabindex="3" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Title label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="form[title]" class="form-control" size="30" maxlength="50" tabindex="4" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Real name label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="form[realname]" class="form-control" size="30" maxlength="40" tabindex="5" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Website label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="form[url]" class="form-control" size="35" maxlength="100" tabindex="6" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Jabber label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="form[jabber]" class="form-control" size="35" maxlength="100" tabindex="6" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('ICQ label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="form[icq]" class="form-control" size="35" maxlength="100" tabindex="6" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('MSN label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="form[msn]" class="form-control" size="35" maxlength="100" tabindex="6" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('AOL label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="form[aim]" class="form-control" size="35" maxlength="100" tabindex="6" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Yahoo label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="form[yahoo]" class="form-control" size="35" maxlength="100" tabindex="6" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Location label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="form[location]" class="form-control" size="35" maxlength="100" tabindex="6" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Signature label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <textarea type="text" name="form[signature]" class="form-control" size="35" maxlength="100" tabindex="6"></textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Admin note label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="form[admin_note]" class="form-control" size="35" maxlength="100" tabindex="6" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Posts lmore than label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="posts_greater" class="form-control" size="35" maxlength="100" tabindex="6" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Posts less than label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="posts_less" class="form-control" size="35" maxlength="100" tabindex="6" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Last post after label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="last_post_after" class="form-control" size="35" maxlength="100" tabindex="6" />

                                <small class="help-block form-text">{{ trans('Date help') }}</small>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Last post before label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="last_post_before" class="form-control" size="35" maxlength="100" tabindex="6" />

                                <small class="help-block form-text">{{ trans('Date help') }}</small>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Last visit after label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="last_visit_after" class="form-control" size="35" maxlength="100" tabindex="6" />

                                <small class="help-block form-text">{{ trans('Date help') }}</small>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Last visit before label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="last_visit_before" class="form-control" size="35" maxlength="100" tabindex="6" />

                                <small class="help-block form-text">{{ trans('Date help') }}</small>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Registered after label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="registered_after" class="form-control" size="35" maxlength="100" tabindex="6" />

                                <small class="help-block form-text">{{ trans('Date help') }}</small>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Registered before label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="registered_before" class="form-control" size="35" maxlength="100" tabindex="6" />

                                <small class="help-block form-text">{{ trans('Date help') }}</small>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Order by label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <select name="order_by" tabindex="21" class="form-control">
                                    <option value="username" selected="selected">{{ trans('Order by username') }}</option>
                                    <option value="email">{{ trans('Order by e-mail') }}</option>
                                    <option value="num_posts">{{ trans('Order by posts') }}</option>
                                    <option value="last_post">{{ trans('Order by last post') }}</option>
                                    <option value="last_visit">{{ trans('Order by last visit') }}</option>
                                    <option value="registered">{{ trans('Order by registered') }}</option>
                                </select>

                                &#160;&#160;&#160;
                                
                                <select name="direction" tabindex="22" class="form-control">
                                    <option value="ASC" selected="selected">{{ trans('Ascending') }}</option>
                                    <option value="DESC">{{ trans('Descending') }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('User group label') }}</label></div>
                            <div class="col-12 col-md-9">
                                <select name="user_group" tabindex="23" class="form-control">
                                    <option value="-1" selected="selected">{{ trans('All groups') }}</option>
                                    <option value="0">{{ trans('Unverified users') }}</option>
                                    {{ group_list|raw }}
                                </select>
                            </div>
                        </div>

                        {{ fireHook('view.admin.users.admin_users.form') }}
                
                    <button type="submit" name="find_user" tabindex="25" class="btn btn-primary">{{ trans('Submit search') }}</button>
            </form>
        </div>

        <hr>

         <div class="row form-group">
            <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('IP address label') }}<small class="help-block form-text">{{ trans('IP search subhead') }}</small></label></div>
            <div class="col-12 col-md-9">
                <form method="get" action="{{ pathFor('usersIpShow') }}">
                    <input type="text" class="form-control" name="ip" size="18" maxlength="15" tabindex="24" /><br/>
                    <input type="submit" class="btn btn-primary" value="{{ trans('Find IP address') }}" tabindex="26" />
                </form>

            </div>
        </div>
    </div>
</div>
</div>

    {{ fireHook('view.admin.users.admin_users.end') }}
{% endblock content %}
