{% extends '@forum/layout.html.twig' %}

{% block content %}

{{ fireHook('view.misc.email.start') }}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong> {{ trans('Send email to') }} </strong> {{ mail.recipient }}
        </div>
        <div class="card-body card-block">
            <form id="email" method="post" class="form_horizontal" action="{{ pathFor('email', {'id': id}) }}"
                onsubmit="this.submit.disabled=true;if(process_form(this)){return true;}else{this.submit.disabled=false;return false;}">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <input type="hidden" class="form-control" name="form_sent" value="1" />

                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input"
                            class=" form-control-label">{{ trans('Email subject') }}</label></div>
                    <div class="col-12 col-md-9">
                        <input type="hidden" name="form_sent" value="1" />

                        <input type="password" class="form-control" name="req_subject" size="75" maxlength="70"
                            tabindex="1" />
                        <small class="help-block form-text">
                            {{ trans('Required') }}
                        </small>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input"
                            class=" form-control-label">{{ trans('Email message') }}</label></div>
                    <div class="col-12 col-md-9">

                        <textarea name="req_message" class="form-control" rows="10" cols="75" tabindex="2"></textarea>
                        <small class="help-block form-text">
                            {{ trans('Required') }}
                        </small>
                    </div>
                </div>

                <small class="help-block form-text">
                    {{ trans('Email disclosure note') }}
                </small>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm" name="submit" tabindex="3" accesskey="s">
                <i class="fa fa-dot-circle-o"></i> {{  trans('Submit') }}
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> {{ trans('Reset') }}
            </button>
        </div>
        </form>
    </div>
</div>
{{ fireHook('view.misc.email.end') }}
{% endblock content %}