{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.misc.email.report') }}

    <div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong> {{ trans('Report post') }} </strong>
        </div>
        <div class="card-body card-block">
            <form id="report" method="post" class="form_horizontal" action="{{ pathFor('report', {'id': id}) }}" onsubmit="this.submit.disabled=true;if(process_form(this)){return true;}else{this.submit.disabled=false;return false;}">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <input type="hidden" class="form-control" name="form_sent" value="1" />

                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input"
                            class=" form-control-label">{{ trans('Reason') }}</label></div>
                    <div class="col-12 col-md-9">

                        <textarea name="req_reason" class="form-control" rows="10" cols="60"></textarea>
                        <small class="help-block form-text">
                            {{ trans('Required') }}
                        </small>
                    </div>
                </div>

                <small class="help-block form-text">
                    {{ trans('Reason desc') }}
                </small>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm" name="submit" tabindex="3" accesskey="s">
                <i class="fa fa-dot-circle-o"></i> {{  trans('Submit') }}
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> {{ trans('Reset') }}
            </button>
        </div>
        </form>
    </div>
</div>

    {{ fireHook('view.misc.report.start') }}
{% endblock content %}
