{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.register.email.start') }}

<form id="email" method="post" action="{{ pathFor('email', {'id': id}) }}" onsubmit="this.submit.disabled=true;if(process_form(this)){return true;}else{this.submit.disabled=false;return false;}">
    <div id="emailform" class="card">
       <div class="card-header"> <strong>{{ trans('Send email to') }} {{ recipient }}</strong></div>
        <div class="card-body">
            <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
            <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
            <input type="hidden" name="form_sent" value="1" />
            <input type="hidden" name="redirect_url" value="{{ redirect_url }}" />

            <div class="row form-group">
                <div class="col col-md-3"><label for="req_subject" class=" form-control-label">{{ trans('Email subject') }}</label></div>
                <div class="col-12 col-md-9">
                    <input class="longinput" type="text" class="form-control" name="req_subject" size="75" maxlength="70" tabindex="1" />

                    <small class="help-block form-text"><span class="pull-right">{{ trans('Required') }}</span></small>
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3"><label for="req_message" class=" form-control-label">{{ trans('Email message') }}</label></div>
                <div class="col-12 col-md-9">
                    <textarea name="req_message" class="form-control" rows="10" cols="75" tabindex="2"></textarea>

                    <small class="help-block form-text"><span class="pull-right">{{ trans('Required') }}</span></small>
                </div>
            </div>

            <small class="help-block form-text">{{ trans('Email disclosure note') }}</small>
        </div>
        <div class="card-footer">
            <button type="submit" name="submit" tabindex="3" accesskey="s">{{ trans('Submit') }}</button>
            <button type="reset">{{ trans('Reset') }}</button>
        </div>
    </div>
</form>

    {{ fireHook('view.register.email.end') }}
{% endblock content %}
