{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.login.password_forgotten.start') }}

{#// If there are errors, we display them#}
{% if errors is not empty %}
<div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
    <span class="badge badge-pill badge-danger">{{ trans('Registration errors') }}</span><br/>

   {% for cur_error in errors %}
        <li><strong>{{ cur_error }}</strong></li>
    {% endfor %}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>


{% endif %}

<form id="request_pass" method="post" action="{{ pathFor('resetPassword') }}" onsubmit="this.request_pass.disabled=true;if(process_form(this)){return true;}else{this.request_pass.disabled=false;return false;}">
    <div class="card">
        <div class="card-header">
            <strong>{{ trans('Request pass') }}</strong>
        </div>
        <div class="card-body">
            <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
            <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
            <input type="hidden" name="form_sent" value="1" />

            <div class="row form-group">
                <div class="col col-md-3"><label for="req_message" class=" form-control-label">{{ trans('Email') }}</label></div>
                <div class="col-12 col-md-9">
                    <input id="req_email" type="text" class="form-control" name="req_email" size="50" maxlength="80" />

                    <small class="help-block form-text"><span class="pull-right">{{ trans('Required') }}</span>{{ trans('Request pass info') }}</small>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm" name="request_pass" tabindex="3" accesskey="s">
                <i class="fa fa-dot-circle-o"></i> {{  trans('Submit') }}
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> {{ trans('Reset') }}
            </button>
        </div>
    </div>
</form>

    {{ fireHook('view.login.password_forgotten.end') }}
{% endblock content %}
