{% extends '@forum/layout.html.twig' %}

{% block content %}

    {% include '@forum/admin/menu.html.twig' %}

    {{ fireHook('view.admin.categories.start') }}
<div class="col-md-8">
    <div class="card">
        <div class="card-header"><strong>{{ trans('Add categories head') }}</strong></div>
        <div class="card-body">
            <form method="post" action="{{ pathFor('addCategory') }}">
                <div class="inform">
                    <fieldset>
                        <legend>{{ trans('Add categories subhead') }}</legend>
                        <div class="infldset">
                            <table class="aligntop">
                                <tr>
                                    <tbody scope="row" class="form-text">{{ trans('Add category label') }}
                                        
                                    </td>
                                    <td>
                                        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                                        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">

                                        <input type="text" class="form-control" name="cat_name" size="35" maxlength="80" tabindex="1" />

                                        <small class="help-block form-text">
                                            {{ trans(['Add category help', '<a href="' ~pathFor('adminForums') ~'">' ~trans('Forums') ~'</a>']) }}
                                        </small>

                                        <br>

                                        <input type="submit" class="btn btn-primary" value="{{ trans('Add new submit') }}" tabindex="2" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>

    {% if cat_list is not empty %}

        <div class="card-body">
            <p class="form-text">{{ trans('Delete categories head') }}</p>
            <form method="post" action="{{ pathFor('deleteCategory') }}">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <div class="inform">
                        <div class="infldset">
                            {{ trans('Delete category label') }}
                                
                            <select name="cat_to_delete" class="form-control" tabindex="3">
                            {% for cur_cat in cat_list %}
                                <option value="{{ cur_cat.id }}">{{ cur_cat.cat_name }}</option>
                            {% endfor %}
                            </select>
                                
                            <br>
                            <input type="checkbox" class="switch-control" name="disclaimer" value="1"> {{ trans('Delete category disclaimer') }}
                                
                            <input type="submit" class="btn btn-primary pull-right" value="{{ trans('Delete') }}" tabindex="4" />
                        </div>
                </div>
            </form>
        </div>
    {% endif %}

    <hr>

    {% if cat_list is not empty %}
        <div class="card-body">
            <form method="post" action="{{ pathFor('editCategory') }}">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <div class="inform">
                    <fieldset>
                        <legend>{{ trans('Edit categories subhead') }}</legend>
                        <div class="infldset">
                            <table id="categoryedit">
                            <thead>
                                <tr>
                                    <th class="tcl" scope="col">{{ trans('Category name label') }}</th>
                                    <th scope="col">{{ trans('Category position label') }}</th>
                                </tr>
                            </thead>
                            <tbody>


                    {% for cur_cat in cat_list %}
                        <tr>
                            <td class="tcl"><input type="text" class="form-control" name="cat[{{ cur_cat.id }}][name]" value="{{ cur_cat.cat_name }}" size="35" maxlength="80" /></td>
                            <td><input type="text" class="form-control" name="cat[{{ cur_cat.id }}][order]" value="{{ cur_cat.disp_position }}" size="3" maxlength="3" /></td>
                        </tr>
                    {% endfor %}

                            </tbody>
                            </table>
                            <br>
                            <div class="fsetsubmit"><input type="submit" class="btn btn-primary" value="{{ trans('Update') }}" /></div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    {% endif %}

    </div>
</div>
</div>

    {{ fireHook('view.admin.categories.end') }}
{% endblock content %}
