{{ fireHook('view.admin.menu.start') }}
    <div id="adminconsole" class="row">
        <div id="adminmenu" class="col-md-3">
            <div class="box">
                <div class="list-group">
                    <li class="list-group-item list-group-item-warning">{{ trans('Moderator menu') }}</li>
                    <a href="{{ pathFor('adminIndex') }}" class="list-group-item list-group-item-action {{ page == 'index' ? 'active' : '' }}">{{ trans('Index') }}</a>
                    <a href="{{ pathFor('adminUsers') }}" class="list-group-item list-group-item-action {{ page == 'users' ? 'active' : '' }}">{{ trans('Users') }}</a>
                {% if isAdmin() or can('mod.ban_users') %}
                    <a href="{{ pathFor('adminBans') }}" class="list-group-item list-group-item-action {{ page == 'bans' ? 'active' : '' }}">{{ trans('Bans') }}</a>
                {% endif %}

                {% if isAdmin() or settings('o_report_method') == '0' or settings('o_report_method') == '2' %}
                    <a href="{{ pathFor('adminReports') }}" class="list-group-item list-group-item-action {{ page == 'reports' ? 'active' : '' }}">{{ trans('Reports') }}</a>
                {% endif %}

                </div>
        </div>

            </br>

        {% if isAdmin() %}
            <div class="box">
                <div class="list-group">
                    <li class="list-group-item list-group-item-info">{{ trans('Admin menu') }}</li>
                    {% for perm, data in menu_items %}
                        {% if preg_match('/^board\..*$/', perm) %}
                                <a href="{{ pathFor(data.url) }}" class="list-group-item list-group-item-action {{ page == data.title|lower ? 'active' : '' }}">{{ trans(data.title) }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% endif %}

        {#// Did we find any plugins?#}
        {% if plugins is not empty %}

            <h2 class="block2"><span>{{ trans('Plugins menu') }}</span></h2>
            <div class="box">
                <div class="list-group">

                    {% for plugin in plugins %}
                    {% set plugin_url = slug(plugin) %}
                            <a href="{{ pathFor('infoPlugin', {'name': plugin_url}) }}" class="list-group-item list-group-item-action {{ page == data.title|lower ? 'active' : '' }}">{{ plugin }}</a>
                    {% endfor %}

                </div>
            </div>

        {% endif %}

        </div>

{{ fireHook('view.admin.menu.end') }}
