{{ fireHook('view.install.start') }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ trans('AMXXBG Installation') }}</title>
        <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="{{ urlBase() }}/style/themes/{{ style }}/assets/css/style.css">
    <link rel="stylesheet" type="text/css"
        href="{{ urlBase() }}/style/themes/{{ style }}/assets/css/cs-skin-elastic.css">

    <!-- Third Party -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />

    <!-- /Third Party -->
</head>

<body>
<div id="amxxinstall" class="col-md-8 offset-md-2">
    <div class="top-box"><div><!-- Top Corners --></div></div>
    <div class="punwrap">

        <section class="card">
            <div class="card-header"><span>{{ trans('AMXXBG Installation') }}</span></div>
            <div id="brddesc" class="card-body"><p>{{ trans('Welcome') }}</p></div>
        </section>

        <section class="card">
                {% if languages|length > 1 %}
                
                    <div class="card-header"><span><{{ trans('Choose install language') }}</span></div>
                    <div class="card-body">
                        <form id="install" method="post" action="">
                            <input type="hidden" name="choose_lang" value="1">
                            <div class="inform">
                                    <p class="form-text">{{ trans('Install language') }}</p>
                                    <div class="infldset">
                                        <p>{{ trans('Choose install language info') }}</p>
                                        <label><strong>{{ trans('Install language') }}</strong>
                                            <br /><select name="install_lang" class="form-control">
                                                {% for lang in languages %}
                                                    <option value="{{ lang }}" {{ data.default_lang == lang ? 'selected' : '' }}>{{ lang }}</option>
                                                {% endfor %}
                                            </select>
                                            <br /></label>
                                    </div>
                            </div>
                            <br>
                            <p class="buttons"><input type="submit" class="btn btn-primary" value="{{ trans('Change language') }}" /></p>
                        </form>
                    </div>
            {% endif %}

            <div class="blockform">
                <div class="card-header"><span>{{ trans(['Install', getEnv('FORUM_VERSION')]) }}</span></h2>
                <div class="card-body">
                    <form id="install" method="post" action="">
                        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                        {% if errors is not empty %}
                            <div class="inform">
                                <div class="forminfo error-info">
                                    <h3>{{ trans('Errors') }}</h3>
                                    <ul class="error-list">
                                        {% for error in errors %}
                                            <li><strong>{{ error|raw }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        <div class="inform">
                                <legend>{{ trans('Select database') }}</legend>
                                <div class="infldset">
                                    <p>{{ trans('Info 2') }}</p>
                                    <label class="required"><strong>{{ trans('Database type') }} <span>{{ trans('Required') }}</span></strong></label>
                                    <select name="install[db_type]" class="form-control" required>
                                        {% for id, db_type in supported_dbs %}
                                            {% if id in dbConfig %}
                                                <option value="{{ id }}" selected="selected">{{ db_type }}</option>
                                            {% else %}
                                                <option value="{{ id }}">{{ db_type }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                        <br>
                        <div class="inform">
                            <fieldset>
                                <legend>{{ trans('Database hostname') }}</legend>
                                <div class="infldset">
                                    <p>{{ trans('Info 3') }}</p>
                                    <label class="required"><strong>{{ trans('Database server hostname') }} <span>{{ trans('Required') }}</span></strong></label>
                                    <input type="text" class="form-control" name="install[db_host]" size="50" value="{{ dbConfig.db_host }}" required />
                                </div>
                            </fieldset>
                        </div>
                        <br>
                        <div class="inform">
                            <fieldset>
                                <legend>{{ trans('Database enter name') }}</legend>
                                <div class="infldset">
                                    <p>{{ trans('Info 4') }}</p>
                                    <label class="required"><strong>{{ trans('Database name') }} <span>{{ trans('Required') }}</span></strong></label>
                                    <input type="text" class="form-control" name="install[db_name]" size="30" value="{{ dbConfig.db_name }}" required />
                                </div>
                            </fieldset>
                        </div>
                        <br>
                        <div class="inform">
                            <fieldset>
                                <legend>{{ trans('Database enter informations') }}</legend>
                                <div class="infldset">
                                    <p>{{ trans('Info 5') }}</p>
                                    <label class="conl">{{ trans('Database username') }}</label>
                                    <input type="text" class="form-control" name="install[db_user]" size="30" value="{{ dbConfig.db_user }}" />
                                    <label class="conl">{{ trans('Database password') }}</label>
                                    <input type="password" class="form-control" name="install[db_pass]" size="30" value="{{ dbConfig.db_pass }}" />
                                    
                                </div>
                            </fieldset>
                        </div>
                        <br>
                        <div class="inform">
                            <fieldset>
                                <legend>{{ trans('Database enter prefix') }}</legend>
                                <div class="infldset">
                                    <p>{{ trans('Info 6') }}</p>
                                    <label>{{ trans('Table prefix') }}</label>
                                    <input type="text" class="form-control" name="install[db_prefix]" size="20" maxlength="30" value="{{ dbConfig.db_prefix }}" />
                                </div>
                            </fieldset>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="inform">
                            <div class="forminfo">
                                <h3>{{ trans('Administration setup') }}</h3>
                                <p>{{ trans('Info 7') }}</p>
                            </div>
                            <fieldset>
                                <legend>{{ trans('Administration setup') }}</legend>
                                <div class="infldset">
                                    <p>{{ trans('Info 8') }}</p>
                                    <label class="required"><strong>{{ trans('Administrator username') }} <span>{{ trans('Required') }}</span></strong></label>
                                    <input type="text" class="form-control" name="install[username]" size="25" maxlength="25" required />
                                    <label class="conl required"><strong>{{ trans('Password') }} <span>{{ trans('Required') }}</span></strong></label>
                                    <input type="password" class="form-control" name="install[password]" size="16" required />
                                    <label class="conl required"><strong>{{ trans('Confirm password') }} <span>{{ trans('Required') }}</span></strong></label>
                                    <input type="password" class="form-control" name="install[password_conf]" size="16" required />
                                    <!-- <div class="clearer"></div> -->
                                    <label class="required"><strong>{{ trans('Administrator email') }} <span>{{ trans('Required') }}</span></strong></label>
                                    <input type="text" class="form-control" name="install[email]" size="50" maxlength="80" required />
                                </div>
                            </fieldset>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="inform">
                            <div class="forminfo">
                                <h3>{{ trans('Board setup') }}</h3>
                                <p>{{ trans('Info 11') }}</p>
                            </div>
                            <fieldset>
                                <legend>{{ trans('General information') }}</legend>
                                <div class="infldset">
                                    <label class="required"><strong>{{ trans('Board title') }} <span>{{ trans('Required') }}</span></strong></label>
                                    <input type="text" class="form-control" name="install[title]" value="{{ data.title }}" size="60" maxlength="255" required />
                                    <label>{{ trans('Board description') }}</label>
                                    <input type="text" class="form-control" name="install[description]" value="{{ data.description }}" size="60" maxlength="255" required />
                                    <label class="required"><strong>{{ trans('Base URL') }} <span>{{ trans('Required') }}</span></strong></label>
                                    <input type="text" class="form-control" name="install[base_url]" value="{{ data.base_url }}" size="60" maxlength="100" required />
                                    <label class="required"><strong>{{ trans('Default language') }} <span>{{ trans('Required') }}</span></strong></label>
                                    <select name="install[language]" class="form-control" required />
                                    {% for lang in languages %}
                                        <option value="{{ lang }}" {{ data.default_lang == lang ? 'selected' : '' }}>{{ lang }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                        <br>
                        <p class="buttons"><input class="btn btn-primary" type="submit" value="{{ trans('Start install') }}" /></p>
                    </form>
                </div>
            </div>
    </div>
    </section>
</div>
<div class="end-box"><div><!-- Bottom Corners --></div></div>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="{{ urlBase() }}/style/themes/{{ style }}/assets/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
</body>
</html>
{{ fireHook('view.install.end') }}
