{% extends '@forum/layout.html.twig' %}

{% block content %}
    {{ fireHook('view.post.start') }}
    
        {#// If there are errors, we display them#}
        {% if errors is not empty %}

        <div id="posterror" class="alert alert-danger">
            <h2><span>{{ trans('Post errors') }}</span></h2>
                {% for cur_error in errors %}
                <p><strong>{{ cur_error }}</strong></p>
                {% endfor %}
        </div>

        {% elseif inputPost('preview') %}

        <div id="postpreview" class="blockpost">
            <h2><span>{{ trans('Post preview') }}</span></h2>
            <div class="box">
                <div class="inbox">
                    <div class="postbody">
                        <div class="postright">
                            <div class="postmsg">
                                {{ preview_message|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

            <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ action }} </strong>
                </div>
                <div class="card-body card-block">
                    {{ form|raw }}
                    <input type="hidden" name="form_sent" value="1" />
                    <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                    <input type="hidden" name="csrf_value" value="{{ csrf_value }}">

                    {% if fid %}
                        {% set cur_index = cur_index + 1 %}
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{ trans('Subject') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input class="form-control" type="text" name="req_subject" value="{{ inputPost('req_subject') ? post.subject : '' }}" maxlength="70" tabindex="{{ cur_index }}" />
                                <small class="help-block form-text">{{ trans('Required') }}</small>
                            </div>
                        </div>
                        {% endif %}
                        
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="req_message" class=" form-control-label">{{ trans('Message') }}</label></div>
                            <div class="col-12 col-md-9">
                                <textarea class="form-control" id="req_message" name="req_message" value="{{ inputPost('req_message') ? post.subject : '' }}" maxlength="70" tabindex="{{ cur_index }}">{{ inputPost('req_message') ? inputPost('req_message')|raw : (quote is defined ? quote|raw : '') }}</textarea>
                                <small class="help-block form-text">{{ trans('Required') }}</small>
                                {% set cur_index = cur_index + 1 %}

                                 <ul class="bblinks list-inline">
                                    <li><a href="{{ pathFor('help') }}#bbcode" onclick="window.open(this.href); return false;">{{ trans('BBCode') }}</a> {{ settings('p_message_bbcode') == '1' ? trans('on') : trans('off') }}</li>
                                    <li><a href="{{ pathFor('help') }}#url" onclick="window.open (this.href); return false;">{{ trans('url tag') }}</a> {{ settings('p_message_bbcode') == '1' and can('post.links') ? trans('on') : trans('off') }}</li>
                                    <li><a href="{{ pathFor('help') }}#img" onclick="window.open(this.href); return false;">{{ trans('img tag') }}</a> {{ settings('p_message_bbcode') == '1' and settings('p_message_img_tag') == '1' ? trans('on') : trans('off') }}</li>
                                    <li><a href="{{ pathFor('help') }}#smilies" onclick="window.open(this.href); return false;">{{ trans('Smilies') }}</a> {{ settings('o_smilies') == '1' ? trans('on') : trans('off') }}</li>
                                </ul>
                            </div>
                        </div>
                        
                    
                    <div class="row form-group">
                     <div class="col col-md-3"><label for="admin_note" class=" form-control-label">{{ trans('Options') }}</label></div>
                        <div class="col-12 col-md-9">
                        {% if checkboxes is defined %}
                            {{ checkboxes|join("<br>")|raw }}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm" name="submit" tabindex="{{ cur_index }}" accesskey="s">
                        <i class="fa fa-dot-circle-o"></i> {{  trans('Submit') }}
                    </button>

                    {% set cur_index = cur_index + 1 %}
{# 
                    <button type="submit" class="btn btn-success btn-sm" name="preview" tabindex="{{ cur_index }}" accesskey="p">
                        <i class="fa fa-eye"></i> {{ trans('Preview') }}
                    </button> #}
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> {{ trans('Reset') }}
                    </button>
                </div>
            </div>
            </form>
        </div>
    {{ fireHook('view.post.end') }}
{% endblock content %}