{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.topic.start') }}

    <div class="pagepost">
        <p class="pagelink conl">{{ paging_links|raw }}</p>
        {{ post_link|raw }}
    </div>

    {% for post in post_data %}
    <div class="card">
        <div class="card-header">
            <strong class="card-title"><a href="
                {{ pathFor('viewPost', {'name':"#{ cur_topic.subject }", 'id': "#{ id }", 'pid': "#{ post.id }"}) }}#p{{ post.id }}"> #
                        {{ start_from + loop.index }}</a> </strong>
            <small class="float-right">{{ formatTime(post.posted) }}</small>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="mx-auto d-block">
                    {% if post.user_avatar != '' %}
                        {{ post.user_avatar|raw }}
                    {% endif %}
                        <h5 class="text-sm-center mt-2 mb-1">{{ post.username_formatted|raw }}</h5>
                        <div class="text-sm-center"><i class="fa fa-certificate"></i> {{ post.user_title_formatted|raw }}</div>
                    </div>
                    <br/>
                    <ul class="list-group list-group-flush">

                        {% if post.user_info|length %}
                            {{ post.user_info|join(" ")|raw }}
                        {% endif %}
                    </ul>
                </div>

                <div class="col-md-9">
                    <h3>{{ post.id != cur_topic.first_post_id ? trans('Re')  : '' }} {{ cur_topic.subject }}</h3>
                    <p class="card-text">{{ post.message|raw }}</p>

                    {% if post.edited != '' %}
                        <small class="help-block form-text"><em>{{ trans('Last edit') }} {{ post.edited_by }} ({{ formatTime(post.edited) }})</em></small>
                    {% endif %}

                    {% if post.signature_formatted != '' %}
                        <div class="text-center"><hr />{{ post.signature_formatted|raw }}</div>
                    {% endif %}
                </div>
            </div>

            {% if post.post_actions|length %}
                <div class="row form-group float-right">
                    <div class="col col-md-12">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <div class="btn-group">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-secondary"><i class="fa fa-gavel"></i></button>
                                    <div tabindex="-1" aria-hidden="true" role="menu" class="dropdown-menu">
                                        {{ post.post_actions|join(" ")|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div> 
    </div>
    {% endfor %}
    
    {{ subscraction|raw }}
    
    <div class="card">
        <div class="card-header">
            <strong>{{ trans('Quick post') }}</strong>
        </div>
        <div class="card-body card-block">
            <form id="quickpostform" method="post" action="{{ pathFor('newReply', {'tid': "#{ id }"}) }}" onsubmit="this.submit.disabled=true;if(process_form(this)){return true;}else{this.submit.disabled=false;return false;}">
            <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
            <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
            <div>
                <input type="hidden" name="form_sent" value="1" />
                <input type="hidden" name="pid" value="{{ pid }}" />
                <input type="hidden" name="page" value="{{ page_number }}" />

                {% if settings('o_topic_subscriptions') == '1' and (userGet('auto_notify') == '1' or cur_topic.is_subscribed) %}
                <input type="hidden" name="subscribe" value="1" />
                {% endif %}
            </div>
            

            {% if settings('o_avatars') == '1' %}
        
                <div class="row form-group">
                    <div class="col col-md-3"><label for="req_message" class=" form-control-label">{{ trans('Write message legend') }}</label></div>
                    <div class="col-12 col-md-9">
                        <textarea name="req_message" class="form-control" id="req_message" rows="7" cols="75" tabindex="1"></textarea>

                        <ul class="bblinks list-inline">
                            <li><a href="{{ pathFor('help') }}#bbcode" onclick="window.open(this.href); return false;">{{ trans('BBCode') }}</a> {{ settings('p_message_bbcode') == '1' ? trans('on') : trans('off') }}</li>
                            <li><a href="{{ pathFor('help') }}#url" onclick="window.open(this.href); return false;">{{ trans('url tag') }}</a> {{ (settings('p_message_bbcode') == '1' and can('post.links')) ? trans('on') : trans('off') }}</li>
                            <li><a href="{{ pathFor('help') }}#img" onclick="window.open(this.href); return false;">{{ trans('img tag') }}</a> {{ (settings('p_message_bbcode') == '1' and settings('p_message_img_tag') == '1') ? trans('on') : trans('off') }}</li>
                            <li><a href="{{ pathFor('help') }}#smilies" onclick="window.open(this.href); return false;">{{ trans('Smilies') }}</a> {{ settings('o_smilies') == '1' ? trans('on') : trans('off') }}</li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                
        </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" name="submit" tabindex="3" accesskey="s">
                    <i class="fa fa-dot-circle-o"></i> {{  trans('Submit') }}
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> {{ trans('Reset') }}
                </button>
            </div>
        </form>
    </div>



    {{ fireHook('view.topic.end') }}
{% endblock content %}
