{% extends '@forum/layout.html.twig' %}

{% block content %}
    {{ fireHook('view.userlist.start') }}


<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>{{ trans('User search') }}</strong>
        </div>
        <div class="card-body card-block">
            <form id="userlist" method="get" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="username" class="form-control-label">{{ trans('Username') }}</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="username" name="username" value="{{ username }}" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="show_group" class=" form-control-label">{{ trans('User group') }}</label></div>
                    <div class="col-12 col-md-9">
                        <select name="show_group" id="show_group" class="form-control">
                            <option value="-1"{{ show_group == -1 ? ' selected="selected"' : '' }}>
                                {{ trans('All users') }}
                            </option>
                        {{ dropdown_menu|raw }}
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="sort_by" class="form-control-label">{{ trans('Sort by') }}</label></div>
                    <div class="col-12 col-md-9">
                        <select name="sort_by" class="form-control" id="sort_by">
                            <option value="username"
                                {{ sort_by == 'username' ? ' selected="selected"' : '' }}>
                                    {{ trans('Username') }}
                                </option>
                            <option value="registered"
                                {{ sort_by == 'registered' ? ' selected="selected"' : ''}}>
                                    {{ trans('Registered') }}
                                </option>
                        {% if show_post_count %}
                            <option value="num_posts"
                                {{ sort_by == 'num_posts' ? ' selected="selected"' : '' }}>
                                    {{ trans('No of posts') }}
                                </option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="sort_dir" class="form-control-label"> {{ trans('Sort order') }}</label></div>
                    <div class="col-12 col-md-9">
                        <select name="sort_dir" id="sort_dir" class="form-control">
                            <option value="ASC"{{ sort_dir == 'ASC' ? ' selected="selected"' : '' }}>
                                {{ trans('Ascending') }}
                            </option>
                            <option value="DESC"{{ sort_dir == 'DESC' ? ' selected="selected"' : '' }}>
                                {{ trans('Descending') }}</option>
                        </select>
                    </div>
                </div>

                <div class="alert alert-info">
                    {{ can('search.users') ? trans('User search info') : '' }}
                    {{ trans('User sort info') }}
                </div>

        </div>

        <div class="card-footer">
            <button type="submit" name="search" class="btn btn-primary btn-sm" accesskey="s">
                <i class="fa fa-dot-circle-o"></i> {{ trans('Submit') }}
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> {{ trans('Reset') }}
            </button>
        </div>
    </div>
            </form>
</div>
</div>

<div class="linkst">
    <div class="inbox">
        <p class="pagelink">{{ paging_links|raw }}</p>
        <div class="clearer"></div>
    </div>
</div>


<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">{{ trans('User list') }}</strong>
        </div>
        <div class="table-stats order-table ov-h">
            <table class="table ">
                <thead>
                    <tr>
                    <th scope="col">{{ trans('Username') }}</th>
                    <th scope="col">{{ trans('Title') }}</th>
    {% if show_post_count %}
                    <th scope="col">{{ trans('Posts') }}</th>
    {% endif %}
                    <th scope="col">{{ trans('Registered') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in userlist_data %}
                        <tr>
                            <td>
                                <a href="{{ pathFor('userProfile', {'id': "#{ user.id }"}) }}">{{ user.username }}</a>
                            </td>
                            <td>
                                {{ formatTitle(user.title, user.username, user.g_user_title, user.g_id) }}
                            </td>
                    {% if show_post_count %}
                            <td>
                                {{ formatNumber(user.num_posts) }}
                            </td>
                    {% endif %}
                            <td class="tcr">
                                {{ formatTime(user.registered, true) }}
                            </td>
                        </tr>

                    {% endfor %}

                    {% if userlist_data is empty %}
                        <tr>
                    <td colspan="{{ show_post_count ? 4 : 3 }}" style="text-align: center;">{{ trans('No hits') }}</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div> <!-- /.table-stats -->
    </div>


<div class="linkst">
    <div class="inbox">
        <p class="pagelink">{{ paging_links|raw }}</p>
        <div class="clearer"></div>
    </div>
</div>

    {{ fireHook('view.userlist.end') }}
{% endblock content %}
