{{ fireHook('view.profile.menu.start') }}

   <div class="row">
     <nav class="col-lg-12 offset-lg-3">
        <div class="nav nav-tabs" id="nav-tab">
            <a class="nav-item nav-link {{ page == 'essentials' ? ' active' : '' }}" id="custom-nav-home-tab" href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'essentials'}) }}">{{ trans('Section essentials') }}</a>
            <a class="nav-item nav-link {{ page == 'personal' ? ' active' : '' }}" id="custom-nav-profile-tab" href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'personal'}) }}">{{ trans('Section personal') }}</a>
            <a class="nav-item nav-link {{ page == 'personality' ? ' active' : '' }}" id="custom-nav-contact-tab" href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'personality'}) }}">{{ trans('Section personality') }}</a>
            <a class="nav-item nav-link {{ page == 'display' ? ' active' : '' }}" id="custom-nav-contact-tab" href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'display'}) }}">{{ trans('Section display') }}</a>
            <a class="nav-item nav-link {{ page == 'privacy' ? ' active' : '' }}" id="custom-nav-contact-tab" href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'privacy'}) }}">{{ trans('Section privacy') }}</a>
            <a class="nav-item nav-link {{ page == 'admin' ? ' active' : '' }}" id="custom-nav-contact-tab" href="{{ pathFor('profileSection', {'id': "#{ id }", 'section': 'admin'}) }}">{{ trans('Section admin') }}</a>
        </div>
    </nav>
   </div>

{{ fireHook('view.profile.menu.end') }}
