{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.profile.section_display.start') }}

    {% include '@forum/profile/menu.html.twig' %}

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong> {{ user.username }} </strong> - {{ trans('Section display') }}
            </div>
            <div class="card-body card-block">
                <form id="profile5" method="post" class="form_horizontal"
                    action="{{ pathFor('profileSection', {'id': id, 'section': 'display'}) }}">
                    <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                    <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                    <input type="hidden" class="form-control" name="form_sent" value="1" />

                    {% if styles|length == 1 %}
                        <div><input type="hidden" name="form_style" value="{{ styles.0 }}"/></div>
                    {% elseif styles|length > 1 %}

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="form_style" class="form-control-label">{{ trans('Styles') }}</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="form_style" class="form-control">

                                    {% for style in styles %}
                                        <option value="{{ style }}"{{ user.style == style ? ' selected="selected"' : '' }}>
                                            {{ style|join('_') }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input"
                                class=" form-control-label">{{ trans('Post display legend') }}</label></div>
                        <div class="col-12 col-md-9">

                            {% if settings('o_smilies') == '1' or settings('o_smilies_sig') == '1' %}
                                <label><input type="checkbox" name="form_show_smilies" class="switch-input"
                                                value="1"{{ pref('show.smilies', user) == '1' ? ' checked="checked"' : '' }}/>{{ trans('Show smilies') }}
                                    </label><br/>
                            {% endif %}

                            {% if settings('o_signatures') == '1' %}
                                <label><input type="checkbox" name="form_show_sig" class="switch-input"
                                                value="1"{{ pref('show.sig', user) == '1' ? ' checked="checked"' : '' }}/>{{ trans('Show sigs') }}
                                    </label><br/>
                            {% endif %}


                            {% if settings('o_avatars') == '1' %}
                                <label><input type="checkbox" name="form_show_avatars" class="switch-input"
                                                value="1"{{ pref('show.avatars', user) == '1' ? ' checked="checked"' : '' }}/>{{ trans('Show avatars') }}
                                    </label><br/>
                            {% endif %}

                            {% if settings('p_message_bbcode') == '1' and settings('p_message_img_tag') == '1' %}
                                <label><input type="checkbox" name="form_show_img" class="switch-input"
                                                value="1"{{ pref('show.img', user) == '1' ? ' checked="checked"' : '' }}/>{{ trans('Show images') }}
                                    </label><br/>
                            {% endif %}

                            {% if settings('o_signatures') == '1' and settings('p_sig_bbcode') == '1' and settings('p_sig_img_tag') == '1' %}
                                <label><input type="checkbox" name="form_show_img_sig" class="switch-input"
                                                value="1"{{ pref('show.img.sig', user) == '1' ? ' checked="checked"' : '' }}/>{{ trans('Show images sigs') }}
                                    </label><br/>
                            {% endif %}
                            <small class="help-block form-text">
                                {{ trans('Post display info') }}
                            </small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input"
                                class=" form-control-label">{{ trans('Pagination legend') }}</label></div>
                        <div class="col-12 col-md-9">
                                                
                            <small class="help-block form-text">
                                {{ trans('Paginate info') }}
                            </small>
                            <input type="text" class="form-control" name="form_disp_topics" value="{{ pref('disp.topics', user) }}" size="6"
                                    maxlength="2"/>
                                    <small class="help-block form-text">
                                        {{ trans('Topics per page') }}
                                    </small>

                            <input type="text" class="form-control" name="form_disp_posts" value="{{ pref('disp.posts', user) }}" size="6"
                                    maxlength="2"/>
                                <small class="help-block form-text">
                                        {{ trans('Posts per page') }}
                                    </small>
                        </div>
                    </div>

                    <small class="help-block form-text">
                        {{ trans('Leave blank') }}
                    </small>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" name="update">
                    <i class="fa fa-dot-circle-o"></i> {{  trans('Submit') }}
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> {{ trans('Reset') }}
                </button>
            </div>
            </form>
        </div>
    </div>

    {{ fireHook('view.profile.section_display.end') }}
{% endblock content %}
