{% extends '@forum/layout.html.twig' %}

{% block content %}

{{ fireHook('view.profile.section_essentials.start') }}

{% include '@forum/profile/menu.html.twig' %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>{{ user.username }} </strong> - {{ trans('Section essentials') }}
        </div>
        <div class="card-body card-block">
            <form id="profile1" class="form-horizontal" method="post" action="{{ pathFor('profileSection', {'id': id, 'section': 'essentials'}) }}" onsubmit="return process_form(this)">
            <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
            <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{ trans('Username') }}</label></div>
                    <div class="col-12 col-md-9">
                        <input type="hidden" name="form_sent" value="1" />

                        {{ user_disp.username_field|raw }}

                        {% if userGet('id') == id or isAdmin() or (isAdminMod() and can('mod.change_passwords')) %}
                                    <a href="{{ pathFor('profileAction', {'id': id, 'action': 'change_pass'}) }}" class="btn btn-primary">{{ trans('Change pass') }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="email-input" class=" form-control-label">{{ trans('Email') }}</label></div>
                    <div class="col-12 col-md-9">
                        {{ user_disp.email_field|raw }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="select" class=" form-control-label">{{ trans('Time zone') }}</label></div>
                    <div class="col-12 col-md-9">
                        <select name="form_timezone" id="select" class="form-control">
                            <option value="-12"{{ pref('timezone', user) == -12 ? ' selected="selected"' : ''}}>{{ trans('UTC-12:00') }}</option>
                            <option value="-11"{{ pref('timezone', user) == -11 ? ' selected="selected"' : ''}}>{{ trans('UTC-11:00') }}</option>
                            <option value="-10"{{ pref('timezone', user) == -10 ? ' selected="selected"' : ''}}>{{ trans('UTC-10:00') }}</option>
                            <option value="-9.5"{{ pref('timezone', user) == -9.5 ? ' selected="selected"' : ''}}>{{ trans('UTC-09:30') }}</option>
                            <option value="-9"{{ pref('timezone', user) == -9 ? ' selected="selected"' : ''}}>{{ trans('UTC-09:00') }}</option>
                            <option value="-8.5"{{ pref('timezone', user) == -8.5 ? ' selected="selected"' : ''}}>{{ trans('UTC-08:30') }}</option>
                            <option value="-8"{{ pref('timezone', user) == -8 ? ' selected="selected"' : ''}}>{{ trans('UTC-08:00') }}</option>
                            <option value="-7"{{ pref('timezone', user) == -7 ? ' selected="selected"' : ''}}>{{ trans('UTC-07:00') }}</option>
                            <option value="-6"{{ pref('timezone', user) == -6 ? ' selected="selected"' : ''}}>{{ trans('UTC-06:00') }}</option>
                            <option value="-5"{{ pref('timezone', user) == -5 ? ' selected="selected"' : ''}}>{{ trans('UTC-05:00') }}</option>
                            <option value="-4"{{ pref('timezone', user) == -4 ? ' selected="selected"' : ''}}>{{ trans('UTC-04:00') }}</option>
                            <option value="-3.5"{{ pref('timezone', user) == -3.5 ? ' selected="selected"' : ''}}>{{ trans('UTC-03:30') }}</option>
                            <option value="-3"{{ pref('timezone', user) == -3 ? ' selected="selected"' : ''}}>{{ trans('UTC-03:00') }}</option>
                            <option value="-2"{{ pref('timezone', user) == -2 ? ' selected="selected"' : ''}}>{{ trans('UTC-02:00') }}</option>
                            <option value="-1"{{ pref('timezone', user) == -1 ? ' selected="selected"' : ''}}>{{ trans('UTC-01:00') }}</option>
                            <option value="0"{{ pref('timezone', user) == 0 ? ' selected="selected"' : ''}}>{{ trans('UTC') }}</option>
                            <option value="1"{{ pref('timezone', user) == 1 ? ' selected="selected"' : ''}}>{{ trans('UTC+01:00') }}</option>
                            <option value="2"{{ pref('timezone', user) == 2 ? ' selected="selected"' : ''}}>{{ trans('UTC+02:00') }}</option>
                            <option value="3"{{ pref('timezone', user) == 3 ? ' selected="selected"' : ''}}>{{ trans('UTC+03:00') }}</option>
                            <option value="3.5"{{ pref('timezone', user) == 3.5 ? ' selected="selected"' : ''}}>{{ trans('UTC+03:30') }}</option>
                            <option value="4"{{ pref('timezone', user) == 4 ? ' selected="selected"' : ''}}>{{ trans('UTC+04:00') }}</option>
                            <option value="4.5"{{ pref('timezone', user) == 4.5 ? ' selected="selected"' : ''}}>{{ trans('UTC+04:30') }}</option>
                            <option value="5"{{ pref('timezone', user) == 5 ? ' selected="selected"' : ''}}>{{ trans('UTC+05:00') }}</option>
                            <option value="5.5"{{ pref('timezone', user) == 5.5 ? ' selected="selected"' : ''}}>{{ trans('UTC+05:30') }}</option>
                            <option value="5.75"{{ pref('timezone', user) == 5.75 ? ' selected="selected"' : ''}}>{{ trans('UTC+05:45') }}</option>
                            <option value="6"{{ pref('timezone', user) == 6 ? ' selected="selected"' : ''}}>{{ trans('UTC+06:00') }}</option>
                            <option value="6.5"{{ pref('timezone', user) == 6.5 ? ' selected="selected"' : ''}}>{{ trans('UTC+06:30') }}</option>
                            <option value="7"{{ pref('timezone', user) == 7 ? ' selected="selected"' : ''}}>{{ trans('UTC+07:00') }}</option>
                            <option value="8"{{ pref('timezone', user) == 8 ? ' selected="selected"' : ''}}>{{ trans('UTC+08:00') }}</option>
                            <option value="8.75"{{ pref('timezone', user) == 8.75 ? ' selected="selected"' : ''}}>{{ trans('UTC+08:45') }}</option>
                            <option value="9"{{ pref('timezone', user) == 9 ? ' selected="selected"' : ''}}>{{ trans('UTC+09:00') }}</option>
                            <option value="9.5"{{ pref('timezone', user) == 9.5 ? ' selected="selected"' : ''}}>{{ trans('UTC+09:30') }}</option>
                            <option value="10"{{ pref('timezone', user) == 10 ? ' selected="selected"' : ''}}>{{ trans('UTC+10:00') }}</option>
                            <option value="10.5"{{ pref('timezone', user) == 10.5 ? ' selected="selected"' : ''}}>{{ trans('UTC+10:30') }}</option>
                            <option value="11"{{ pref('timezone', user) == 11 ? ' selected="selected"' : ''}}>{{ trans('UTC+11:00') }}</option>
                            <option value="11.5"{{ pref('timezone', user) == 11.5 ? ' selected="selected"' : ''}}>{{ trans('UTC+11:30') }}</option>
                            <option value="12"{{ pref('timezone', user) == 12 ? ' selected="selected"' : ''}}>{{ trans('UTC+12:00') }}</option>
                            <option value="12.75"{{ pref('timezone', user) == 12.75 ? ' selected="selected"' : ''}}>{{ trans('UTC+12:45') }}</option>
                            <option value="13"{{ pref('timezone', user) == 13 ? ' selected="selected"' : ''}}>{{ trans('UTC+13:00') }}</option>
                            <option value="14"{{ pref('timezone', user) == 14 ? ' selected="selected"' : ''}}>{{ trans('UTC+14:00') }}</option>
                        </select>

                        <input type="checkbox" class="checkbox" name="form_dst" value="1"{{ pref('dst', user) == '1' ? ' checked="checked"' : ''}} />{{ trans('DST') }}<br />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="select" class=" form-control-label">{{ trans('Time format') }}</label></div>
                    <div class="col-12 col-md-9">
                        <select name="form_timezone" id="select" class="form-control">
                            {% for key, time_format in forum_time_formats %}
                                <option value="{{ key }}"{{ pref('time_format', user) == key ? ' selected="selected"' : '' }}>{{ formatTime(date().timestamp, false, null, time_format, true, true) }} {{ key == 0 ? trans('Default') : '' }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="select" class=" form-control-label">{{ trans('Date format') }}</label></div>
                    <div class="col-12 col-md-9">
                        <select name="form_timezone" id="select" class="form-control">
                            {% for key, date_format in forum_date_formats %}
                                <option value="{{ key }}"{{ pref('date_format', user) == key ? ' selected="selected"' : '' }}>{{ formatTime(date().timestamp, true, date_format, null, false, true) }}{{ key == 0 ? ' ('~trans('Default')~')' }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% if languages|length > 1 %}
                <div class="row form-group">
                    <div class="col col-md-3"><label for="select" class=" form-control-label">{{ trans('Language') }}</label></div>
                    <div class="col-12 col-md-9">
                        <select name="form_timezone" id="select" class="form-control">
                            {% for lang in languages %}
                                <option value="{{ lang }}"{{ pref('language', user) == lang ? ' selected="selected" ' : '' }}>{{ lang }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}

                <div class="row form-group">
                    <div class="col col-md-3"><label for="select" class=" form-control-label">{{ trans('User activity') }}</label></div>
                    <div class="col-12 col-md-9">
                        {% set regIp = (isAdminMod() ? ' (<a href="' ~"#{ pathFor('usersIpShow', {}, {'ip': user.registration_ip}) }" ~'">' ~"#{ user.registration_ip }" ~'</a>)' : '' ) %}
                        <p class="form-control-static">{{ trans(['Registered info', formatTime(user.registered, true) ~ regIp ]) }}</p>
                        <p class="form-control-static">{{ trans(['Last post info', formatTime(user.last_post)]) }}</p>
                        <p class="form-control-static">{{ trans(['Last visit info', formatTime(user.last_visit)]) }}</p>

                        {{ user_disp.posts_field|raw }}
                    </div>
                </div>
                
                {% if isAdminMod() %}
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="admin_note" class=" form-control-label">{{ trans('Admin note') }}</label></div>
                        <div class="col-12 col-md-9"><textarea name="admin_note" id="admin_note" rows="9" placeholder="{{ user.admin_note }}" class="form-control"></textarea></div>
                    </div>
                {% endif %}
            <small class="help-block form-text">
                {{ trans('Instructions') }}
            </small>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm" name="update">
                <i class="fa fa-dot-circle-o"></i> {{  trans('Submit') }}
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> {{ trans('Reset') }}
            </button>
        </div>
    </form>
    </div>
</div>

    {{ fireHook('view.profile.section_essentials.end') }}
{% endblock content %}
