{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.search.form.start') }}

      <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ trans('Search') }}</strong>
                </div>
                <div class="card-body card-block">
                    <form id="search" method="get" action="{{ pathFor('search') }}">
                    <input type="hidden" name="action" value="search" />

                
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{ trans('Keyword search') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" class="form-control" name="keywords" size="40" maxlength="100" />
                                <small class="help-block form-text">{{ trans('Search criteria legend') }}</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{ trans('Author search') }}</label></div>
                            <div class="col-12 col-md-9">
                                <input id="author" class="form-control" type="text" name="author" size="25" maxlength="25" /><br />
                                <small class="help-block form-text">{{ trans('Search info') }}</small>
                            </div>
                        </div>

                        <hr>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">{{ trans('Search in legend') }}</label></div>
                            <div class="col-12 col-md-9">
                                {{ forums|raw }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{ trans('Search in') }}</label></div>
                            <div class="col-12 col-md-9">
                                <select id="search_in" name="search_in" class="form-control">
                                    <option value="0">{{ trans('Message and subject') }}</option>
                                    <option value="1">{{ trans('Message only') }}</option>
                                    <option value="-1">{{ trans('Topic only') }}</option>
                                </select>

                                <small class="help-block form-text">
                                    {{ trans('Search in info') }} 
                                    {{ settings('o_search_all_forums') == '1' or isAdminMod() ? trans('Search multiple forums info')|raw : '' }} 
                                </small>
                                
                            </div>
                        </div>

                        <hr>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">{{ trans('Sort by') }}</label></div>
                            <div class="col-12 col-md-9">
                                <select name="sort_by" class="form-control">
                                    <option value="0">{{ trans('Sort by post time') }}</option>
                                    <option value="1">{{ trans('Sort by author') }}</option>
                                    <option value="2">{{ trans('Sort by subject') }}</option>
                                    <option value="3">{{ trans('Sort by forum') }}</option>
                                </select>

                                <br />

                                <select name="sort_dir" class="form-control">
                                    <option value="DESC">{{ trans('Descending') }}</option>
                                    <option value="ASC">{{ trans('Ascending') }}</option>
                                </select>

                                <br />

                                <select name="show_as" class="form-control">
                                    <option value="topics">{{ trans('Show as topics') }}</option>
                                    <option value="posts">{{ trans('Show as posts') }}</option>
                                </select>
                                <small class="help-block form-text">{{ trans('Search results info') }}</small>
                            </div>
                        </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm" name="search" accesskey="s">
                        <i class="fa fa-dot-circle-o"></i> {{  trans('Submit') }}
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> {{ trans('Reset') }}
                    </button>
                </div>
            </form>
            </div>
        </div>
    {{ fireHook('view.search.form.end') }}
{% endblock content %}
