{{ fireHook('view.search.header.start') }}

<div class="row col-md-12">
    <p class="pagelink">{{ search.paging_links|raw }}</p>
</div>

{%  if search.show_as == 'topics' %}

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">{{ trans('Search results') }}</strong>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="tcl" scope="col">{{ trans('Topic') }}</th>
                                    <th class="tc2" scope="col">{{ trans('Forum') }}</th>
                                    <th class="tc3" scope="col">{{ trans('Replies') }}</th>
                                    <th class="tcr" scope="col">{{ trans('Last post') }}</th>
                                </tr>
                            </thead>
                            

{% endif %}

{{ fireHook('view.search.header.end') }}
