{% extends '@forum/layout.html.twig' %}

{% block content %}

    {% include '@forum/search/header.html.twig' %}

    {{ fireHook('view.search.posts.start') }}

    {% for search in display.cur_search %}

    <div class="card">
        <div class="card-header">
            <span>
                <span class="conr"># {{ search.post_count }}</span>
                <span>
                    {{ search.pid != search.first_post_id ? trans('Re') ~' ' }}
                    {{ search.forum|raw }}
                </span>
                <span>»&#160;<a href="{{ pathFor('Topic', {'id': search.tid, 'name': search.url_topic}) }}">{{ search.subject }}</a></span>
                <span>»&#160;<a href="{{ pathFor('viewPost', {'id': search.tid, 'name': search.url_topic, 'pid': search.pid}) ~'#p' . search.pid }}">{{ formatTime(search.pposted) }}</a></span>
            </span>
            <span class="pull-right">{{ search.pposter_disp|raw }}</span>
        </div>

        <div class="card-body">
                <div class="{{ search.icon_type }}">
                    <div class="nosize">{{ search.icon_text|raw }}</div>
                </div>

            {{ search.message|raw }}

            <small class="help-block form-text"></small>

            <a class="btn btn-primary" href="{{ pathFor('Topic', {'id': search.tid, 'name': search.url_topic}) }}">{{ trans('Go to topic') }}</a>
            &nbsp; &nbsp;
            <a class="btn btn-warning" href="{{ pathFor('viewPost', {'id': search.tid, 'name': search.url_topic, 'pid': search.pid}) ~'#p' ~ search.pid }}">{{ trans('Go to post') }}</a>
            &nbsp; &nbsp;
            <button class="btn btn-secondary" disabled="disabled">{{ trans('Replies') }} {{ formatNumber(search.num_replies) }}</button>
        </div>
    </div>

    {% endfor %}

    {{ fireHook('view.search.posts.end') }}

    {% include '@forum/search/footer.html.twig' %}

{% endblock content %}
